#buyListTable {
    margin: 20px 0;
}

.modal-inner-wrap {
    max-width: 40%;
}

#modalAddNewBuyList {
    display: none;
}

.buy-list-header-listing {
    float: right;
}

.actions-toolbar-buy-list::before {
    content: '';
    display: table;
}

.actions-toolbar-buy-list::after {
    clear: both;
    content: '';
    display: table;
}

.actions-toolbar-buy-list {
    margin-bottom: 20px;
}
